#rating {
    width: 320px;
    border-radius: 4px;
    box-shadow: 0 0 2px 1px #333333;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
    position: absolute;
    top: 250px;
    z-index: 1;
    background: #fefefe;
    right: 10px;
}
#rating div { float: left; }
#rating p { margin: 0; padding: 0; }
.paramot {
    width: 110px;
    margin: 0 20px 0 0;
    text-align: right;
}
.paramot, .rating, #summ { line-height: 28px; }
.stars, #sum_stars { background: url(../template/stars.png); }
.stars, #sum_stars, .progressing, #sum_progress {
    width: 130px;
    height: 28px;
    cursor: pointer;
}
.progressing { background: #afaea2; }
#sum_progress { background: #222222; }
.rating, #summ {
    margin: 0 0 0 20px;
    font-weight: bold;
}
